//colours

$colour-primary: #ff9a16;
$colour-primary-shade: #d98313;
$colour-secondary: #476186;
$colour-background: #fbfcfd;
$colour-background-footer: #3d4653;
$colour-background-banner: #fef4db;
$colour-background-text: #a1403e;
$colour-background-text-shade: #883735;
$colour-input: #c4c4c4;
$colour-ui-primary: #222222;
$colour-ui-secondary: #ffffff;
$colour-ui-shadow: rgba(0, 0, 0, 0.2);

$colour-danger: #bf3e21;
$colour-success: #15700d;

//fonts

$font-primary: "Lato", "Helvetica", "Arial", sans-serif;
$font-secondary: "Josefin Sans", "Veranda", "Tahoma", sans-serif;

//bootstrap breakpoints

$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;
